<div class="container">
    <div class="row">
        <div class="col-12">
            User 1 picked {{numberUser1}}.<br/>
            User 2 picked {{numberUser2}}.<br/>
            The computer picked {{numberComputer}}<br/>
            {{winningUser}} has won.
        </div>
    </div>
</div>