<div class="container">
    <div class="row">
        <div class="col-12">
            <form action="/gameresult" method="POST">
                <div class="form-group">
                    <label for="numberUser1">User 1</label>
                    <input type="text" class="form-control" id="numberUser1" name="numberUser1" aria-describedby="userNumber" placeholder="Enter number in between 1 and 100">
                </div>
                <div class="form-group">
                    <label for="numberUser2">User 2</label>
                    <input type="text" class="form-control" id="numberUser2" name="numberUser2" aria-describedby="userNumber" placeholder="Enter number in between 1 and 100">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
        </div>
    </div>
</div>