<div class="container">
    <div class="row">
        <div class="col-12">
            <ul>
                {{#each result}}
                    <li>Le premier joueur a choisi {{player1}} /
                        Le deuxième joueur a choisi {{player2}} /
                        L'ordinateurjoueur a choisi {{computer}} / </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>